{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
{% load static %}


<form  method="post">
        {% csrf_token %}
  <section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">USER LOGIN</h3>

            <div class="form-outline flex-fill mb-0">
                <input type="email" id="form3Example1c" placeholder="email" 
				class="form-control" name="email" />
                <label class="form-label" for="form3Example1c"></label>
              </div>

            

            <div class="form-outline flex-fill mb-0">
                <input type="password" id="form3Example4c"placeholder="password" 
				class="form-control" name="password"/>
                <label class="form-label" for="form3Example4c"></label>
              </div>

            <input class="btn btn-primary btn-lg btn-block"value="login" type="submit">

            <hr class="my-4">

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}